#wrap{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
}

#header{
    background-image: url(wi-01.png);
    border-bottom-right-radius: 50px;
    width: 730px;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 25);
    float: right;
}

#judul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    padding: 200px 40px 0;
}

#judul a{
    color: white;
    text-decoration: solid;
    font-size: 50px;
}

#judul a:hover{
    color: rgb(65, 153, 225)
}

#menu ul{
    float: right;
    background: rgb(65, 153, 225);
    padding: 0 0px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0n, 0, 25);
    list-style: none;
    width: 730px;
}

#menu ul:after{
    content: "";
    clear: both;
    display: block;
}
#menu ul li{
    float: left;
}
#menu ul li:hover{
    background: rgb(180, 212, 238);
}
#menu ul li a{
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
#menu ul li :hover a{
    color: white;
}
#menu ul li :hover> ul{
    display: block;
}
#menu ul ul{
    background:rgb(65, 153, 225) ;
    position: absolute;
    padding: 0;
    top: 100px;
    display: none;
    width: auto;
}
#menu ul ul li{
    float: none;
    position: relative;
}
#menu ul ul li a{
    padding: 10px 30px;
    color: white;
}
#menu ul ul li a:hover{
    background: rgb(180, 212, 238);
    color: white;
}
#menu ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
}

#kiri{
    border-top-left-radius: 50px;
    background-color: rgb(235, 226, 226);
    width: 250px;
    height: auto;
    margin: 0 0 20px;
    float: left;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25);
}
#kiri ul{
    margin: 0 0 20px 20px;
    padding: 0;
    list-style: none;
    width: 200px;
}
#kiri li{
    width: 100%;
    margin: 0px;
    padding: 0;
    list-style: none;
}
#kiri h2{
    margin: 0px 0 0px 0;
    padding: 5px 12px;
    color: white;
    font-size: 20px;
    background: rgb(65, 153, 225);
}
#kiri a{
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted blue;
}
#kiri a:hover{
    background:rgba(141, 158, 172, 0.644) ;
    color: white;
}

#konten{
    background-color: rgb(235, 226, 226);
    width: 690px;
    height: auto;
    margin: 0 0 20px;
    padding: 20px 20px 20px 20px;
    float: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25);
}

.posttitle{
    text-decoration: none;
    font-size: 32px;
    color: rgb(65, 153, 225);
    font-family: 'Times New Roman', Times, serif;
}
.posttitle a{
    text-decoration: none;
}

.post{
    margin: 0 20px 0 20px;
    text-align: center;
}

.post p{
    margin: 0 20px 0 20px;
    text-align: center;
    text-decoration: none;
}

#footer{
    background: rgb(65, 153, 225);
    color: rgb(235, 226, 226);
    margin: 20px 0;
    padding: 20px 0 0 0;
    width: 1000px;
    height: 90px;
    font-weight: bold;
    border-bottom: 3px solid#a72190;
    text-align:center ;
    border-bottom-right-radius: 50x;
    border-top-left-radius: 50px;
    clear: both;
}